# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# Data — nie commitujemy surowych danych
data/source/
data/raw/
data/processed/

# Airflow
logs/
airflow.cfg
airflow.db
standalone_admin_password.txt

# Jupyter
.ipynb_checkpoints/

# Docker
postgres_data/

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db
